/*基礎設定*/
*{
    padding: 0;     /*所有內容貼齊邊框, 以利後續排版*/
    margin: 0;
    box-sizing: border-box;     /*左右內容不因添加padding而產生滾動軸*/
    background-color: black;
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;        /*標題字體粗細全部還原預設, 以利後續排版*/
}

/*標題*/
header{
    background-color: navy;
    color: white;
    padding: 20px;
    width: 100%;
}
    .HeadTitle01{
        font-size: 2.5rem;
    }
    h1{
        background-color: navy;
    }
/*副標題*/
.header01{
    background-color: gray;
    display: flex;
}
    .HeadText01
    {
        font-size: 1.5rem;
    }

    nav{
        display: flex;
        /*background-color: gray;
        /*color: black;*/
    }
        nav ul{
            
            display: flex;     /*影響範圍只有一層(li) , 若再nav裡面宣告則無影響*/
            padding-left: 1rem;     /*子標題位置調整(左側空間增加)*/
            list-style-type: none;  /*將li預設的標點去除*/
            background-color: gray;
        }
            nav ul li{
                display: flex;
                background-color: gray;
            }
                nav ul li a{
                    background-color: gray;
                    padding: 0rem 0.75rem;    /*子標題位置調整(四面空間增加)*/
                    color: white;
                    text-decoration: none;
                    transition:all 0.5s ease;   /*使底下顏色變換延遲, 增添風格*/
                }
                nav ul li a:hover{
                    background-color: darkgray;
                    color: black;
                }

table, th, td
{
    border-collapse: collapse;              
    border: 1px solid white;    /*邊線顏色*/
}
td
{
    padding: 0.5rem; /**/
}